astroid==2.3.3
backcall==0.1.0
beautifulsoup4==4.8.2
certifi==2019.11.28
chardet==3.0.4
colorama==0.4.3
decorator==4.4.1
docutils==0.16
idna==2.8
ipykernel==5.1.4
ipython==7.12.0
ipython-genutils==0.2.0
isort==4.3.21
jedi==0.16.0
jupyter-client==5.3.4
jupyter-core==4.6.2
Kivy==1.11.1
kivy-deps.angle==0.1.10
kivy-deps.glew==0.1.12
kivy-deps.gstreamer==0.1.18
kivy-deps.sdl2==0.1.23
Kivy-Garden==0.1.4
lazy-object-proxy==1.4.3
mccabe==0.6.1
nltk==3.4.5
numpy==1.18.1
pandas==1.0.1
parso==0.6.1
pickleshare==0.7.5
prompt-toolkit==3.0.3
Pygments==2.5.2
pylint==2.4.4
pypiwin32==223
python-dateutil==2.8.1
pytz==2019.3
pywin32==227
pyzmq==18.1.1
requests==2.22.0
rope==0.16.0
six==1.14.0
soupsieve==1.9.5
tornado==6.0.3
traitlets==4.3.3
typed-ast==1.4.1
urllib3==1.25.8
wcwidth==0.1.8
wincertstore==0.2
wrapt==1.11.2
